@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  font-family: "Fira Sans", sans-serif;
  @apply bg-slate-950 text-slate-100 antialiased selection:bg-blue-500 selection:text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold tracking-tight;
}